.article-page {
  .article-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .header-left {
    }
    .header-right {
    }
  }
  .content-label {
    margin-right: 10px;
  }
  .editor-selector {
    min-width: 200px;
  }
}
